:root {
    /* typography */
    --font-scale: 1.125; /* Major Second */
    --font-family: ui-sans-serif, system-ui, sans-serif;
    --h1:   bold   2.027rem/1.2 var(--font-family); /* 1rem * pow(var(--font-scale), 6) */
    --h2:   bold   1.802rem/1.2 var(--font-family); /* 1rem * pow(var(--font-scale), 5) */
    --h3:   bold   1.602rem/1.2 var(--font-family); /* 1rem * pow(var(--font-scale), 4) */
    --h4:   bold   1.424rem/1.2 var(--font-family); /* 1rem * pow(var(--font-scale), 3) */
    --h5:   bold   1.266rem/1.2 var(--font-family); /* 1rem * pow(var(--font-scale), 2) */
    --h6:   bold   1.125rem/1.2 var(--font-family); /* 1rem * pow(var(--font-scale), 1) */
    --p1:   normal 1rem/1.5     var(--font-family); /* https://m3.material.io/styles/typography/applying-type */
    --sm:   normal 0.889rem/1.4 var(--font-family); /* 1rem / var(--font-scale) */
    --code: normal 0.889rem/1.4 "Source Code Pro", monospace;
}

* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

html {
    font-size: 16px; /* 1rem */
}

body {
    display: flex;
    font: var(--p1);
    color: #212121; /* https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors */
    padding: 50px;
    margin: 0 auto;
}

/* https://medium.com/going-fullstack/self-hosting-web-font-files-6a46bfc36ffd */
@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 400;
    src: url(./SourceCodePro-Regular.woff2) format("woff2"),
}

.note-input {
    font: var(--code);
    width: 50%;
    border: none;
    outline: none;
    resize: none;
    padding-right: 10px;
}

.note-output {
    width: 50%;

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    h1 {
        font: var(--h2);
        margin-bottom: 24px;
    }

    h2 {
        font: var(--h3);
    }

    h3 {
        font: var(--h5);
    }

    h4 {
        font: var(--h6);
    }

    h5 {
        font: var(--h6);
    }

    h6 {
        font: var(--h6);
    }

    p,
    blockquote,
    ul,
    li,
    table {
        font: var(--p1);
        padding: 3px 0;
    }

    a {
        color: #757575;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding: 3px 0;
        margin-top: 24px;
    }

    code {
        font: var(--code);
        background-color: #FAFAFA;
        border-radius: 4px;
        padding: 4px 8px;
    }

    pre {
        margin: 4px 0;
        padding: 12px;
        background-color: #FAFAFA;
        border-radius: 4px;
        overflow: scroll;

        code {
            background-color: unset;
            border-radius: 0;
            padding: 0;
        }

        * {
            font: var(--code);
        }
    }

    blockquote {
        border-left: 4px solid black;
        padding-left: 20px;
        margin-left: 0px;
    }

    ul {
        padding-left: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    table,
    th,
    td {
        border: 1px solid #eee;
        padding: 5px 15px;
    }

    th {
        text-align: left;
    }
}